.App {
  display: grid;
  grid-template-columns: 170px auto auto 170px;
  grid-template-rows: auto;

  grid-template-areas:
    "header header header header"
    ". main main ."
    "footer footer footer footer";
  height: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-wrap {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
